@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.form-container h2 {
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="date"],
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="radio"] {
    margin-right: 5px;
}

.form-container .btn-container {
    text-align: center;
}

.form-container input[type="submit"],
.form-container input[type="reset"] {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type="reset"] {
    background-color: #f44336;
}

.form-container input[type="submit"]:hover,
.form-container input[type="reset"]:hover {
    opacity: 0.8;
}
